* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
#header {
  /* background: rebeccapurple; */
  background: rgb(255, 153, 0);
  padding: 20px 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.logo:hover {
  color: orangered;
}

.header input {
  width: 350px;
  padding: 10px 15px;
  border-radius: 10px;
  border: none;
  outline: none;
}

.header input:hover {
  border: 2px solid black;
}

.buttons button {
  padding: 7px 9px;
  border-radius: 5px;
  border: 2px solid blue;
  color: blue;
  cursor: pointer;
}

.dark:hover {
  background: black;
  color: white;
  border: 2px solid white;
}

.dark1:hover {
  background: black;
  color: white;
  border: 2px solid white;
}

.flags {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 50px;
}

.flag {
  width: 250px;
  padding: 20px;
  /* background: rebeccapurple; */
  background: rgb(255, 153, 0);
  border-radius: 20px;
  color: white;
}

.flag:hover {
  box-shadow: 0 0 50px rgb(231, 88, 5);
}

.flag h4:hover {
  color: orangered;
}

.flag p:hover {
  color: orangered;
}

.flag img {
  height: 120px;
  width: 210px;
}
/* //////// */

#start {
  background: rgb(248, 162, 34);
  padding: 20px 0;
}

.start {
  display: flex;
  /* justify-content: space-around; */
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.start a {
  color: blue;
  font-size: 40px;
  text-decoration: none;
}

body {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 30%,
    rgba(9, 9, 118, 1) 83%,
    rgba(9, 9, 121, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
}
